.git
.gitignore
.env.example
node_modules
vendor
storage/logs/*
storage/clockwork/*
bootstrap/cache/*
tests
.pytest_cache
*.log
.DS_Store
.vscode
.idea
*.swp
*.swo
public/hot
public/storage
Dockerfile*
docker-compose*
.dockerignore
